@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,300;1,400&family=Prata&display=swap');

:root{
    --lightPurple: #9959D9;
    --darkPurple: #401C8C;
    --orange: #F28322;
    --darkOrange: #F26716;
    --redOrange: #F2360C;
}

*{
    overflow: hidden;
    margin: 0px;
}

body{
    height: 100vh;
}

.btn{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    width: 20%;
    height: 10%;
    border-radius: 15px;
    border: 2px solid;
    cursor: pointer;
}
