@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,300;1,400&family=Prata&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Prata', serif; */
:root{
    --pink: #F2059F;
    --blush: #F2D5EA;
    --purple: #8C0375;
    --blue: #2CB1BF;
    --yellow: #F2CB07;
}

*{
    margin: 0px;
}

body{
    /* background-color: var(--blush); */
    color: var(--purple);
}

h1{
    font-family: 'Prata', serif;
    width: 100%;  
    text-align: center;
    margin-bottom: 2rem;
}
h2{
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btnHolder{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

button{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    /* width: 40%; */
    font-size: 1.25rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--purple);
    color: var(--blush);
    border: none;
}

.btnA:hover{
    background-color: var(--blue);
    color: var(--yellow);
}
.btnB:hover{
    background-color: var(--yellow);
    color: var(--blue);
}